port {{ _openvpn_port }}
proto {{ _openvpn_protocol }}
dev tun

topology subnet
server {{ openvpn_ipv4.subnet }} {{ openvpn_ipv4.mask }}
server-ipv6 {{ openvpn_ipv6.prefix }}:{{ openvpn_ipv6.addon }}::/{{ openvpn_ipv6.length }}

script-security 2
learn-address "/etc/openvpn/scripts/ndp-proxy-setup.sh"

ca /etc/openvpn/easy-rsa/keys/ca.crt
cert /etc/openvpn/easy-rsa/keys/{{ ansible_fqdn }}.crt
key /etc/openvpn/easy-rsa/keys/{{ ansible_fqdn }}.key
dh /etc/openvpn/easy-rsa/keys/dh{{ _openvpn_key_size }}.pem

push "route-ipv6 2000::/3 {{ openvpn_ipv6.prefix }}:{{ openvpn_ipv6.addon }}::1"
push "redirect-gateway def1"
push "redirect-gateway ipv6"
push "dhcp-option DNS 8.8.4.4"

tls-auth /etc/openvpn/easy-rsa/keys/ta.key 0
keepalive 30 90
compress lzo

persist-key
persist-tun
ifconfig-pool-persist /run/openvpn/ipp.txt
status /var/log/openvpn-status.log
verb 3
